#myModal{
    width: 100%;
    height: 100%;
}

#username-errors {
    color: red;
    text-align: center;
}

#i-username, #i-status {
    width: 100%;
    border-radius: 5px;
    font-size: 1.25em;
    text-align: center;
}

#user-images-selector img {
    width: 75px;
    height: 75px;
    margin: 5px;
}


#info-container {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #075e54;
    height: 100vh;
    padding: 15px;
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}

#chat-container {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ece5dd;
    height: 100vh;
}

img#user-image{
    width: 75px;
    height: 75px;
}

#user-name{
    font-size: 1.75em;
    font-weight: bolder;
}

#user-status{
    font-size: 1.25em;
    font-style: italic;
}


.friend{
    padding: 3px;
    margin: 10px;
}

.friend:hover {
    border: 1px solid white;
    border-radius: 20px;
    background-color: #128c7e;
}


p.friend-name {
    font-size: 1em;
}

p.friend-status {
    font-size: 0.75em;
}


.friend img {
    width: 50px;
    height: 50px;
}

#chat-container{
    background: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#chat-area{
    padding: 25px;
    color: white;
    height: 85%;
    z-index: 100;
    overflow: hidden;
    overflow-y: scroll;
}

#chat-container-header {
    border-bottom: 1px solid black;
    background-color: #e5e6e8;
}

.chat-room {
    border-right: 1px solid gray;
}

.chat-room img {
    width: 100%;
    height: 100%;
}

.message-container{
    margin-bottom: 15px;
}

.message-container .header {
    text-align: right;
}

.message-f{
    width: 45%;
    float: left;
    padding: 5px;
    border-radius: 5px;
    background-color: #61c584;
}

.message-o{
    width: 45%;
    float: right;
    padding: 5px;
    border-radius: 5px;
    background-color: #34b7f1;
}

.message-s {
    width: 25%;
    margin: 15px auto;
    padding: 5px;
    border-radius: 50px;
    background-color: #e5e6e8;
    color: black;
    font-style: italic;
    text-align: center;
}

#message-input-area {
    z-index: 99;
    background-color: #464646;
    position: absolute;
    height: 75px;
    bottom: 0;
    left: 0;
}

#message-input-area input{
    margin-top: 25px;
    color:black;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
}

#message-input-area button {
    margin-top: 25px;
    background-color: #34b7f1;
    padding: 3px;
    border-radius: 5px;
    color: black;
    width: 100%;
}

#chat-info-zone{
    background-color: #e5e6e8;
    position: absolute;
    color:black;
    text-align: center;
    padding: 5px;
    bottom: 75px;
    left: 0;
    border-top:1px solid white;
    z-index: 99;
}
